@import "Normalize";

//Global Colors
$colorRed: #ee4d38;
$colorBluishWhite:#e4e4ee;
$colorDarkWhite:#f8f8ff;
$colorFullWhite:#fafafa;
$colorGrey:rgb(156, 155, 155);
$fontPoppins:"Poppins", sans-serif;

//Mixins for layout

@mixin alignCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin alignEvenly(){
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#root {
  background-color: $colorBluishWhite;
  font-family: $fontPoppins;
  font-size: 13px;
}

.billingPage{
  position: relative;
  @include alignCenter();
  flex-direction: column;
}

.leftRedBlock {
  position: absolute;
  left: 7%;
  width: 260px;
  height: 700px;
  background-color: $colorRed;
  border-radius: 15px;
}

.userDashboard {
  margin-top: 2rem;
  background-color: $colorFullWhite;
  z-index: 3;
  height: 700px;
  width: 960px;
  position: relative;
  @include alignEvenly();
  border-radius: 1rem;
}

.userProfilePannel {
  background-color: $colorDarkWhite;
  width: 200px;
  height: 890px;
  @include alignEvenly();
  flex-direction: column;
}

.userInfoPannel > div:nth-of-type(1) {
  @include alignCenter();
}

.userPlan {
  text-align: center;
  width: 260px;
  height: 221px;
  background-color: $colorRed;
  color: $colorDarkWhite;
  line-height: 2.3;
  border-radius: 16px;

  button {
    width: 195px;
    height: 40px;
    color: $colorDarkWhite;
    background-color: $colorRed;
    border: 1px solid $colorDarkWhite;
  }
}
/*Typography*/
p{
  color: #cbcbd9;
}
.userProfile {
  .userProfile {
    @include alignEvenly();
  }

  .userInfo > div > h1 {
    font-size: 14px;
  }

  .userInfo > div > p {
    color: #cbcbd9;
    font-size: 14px;
  }
  /*Images*/
  .userImg > img {
    max-width: 60px;
    max-height: 70px;
    border-radius: 10px;
  }
}

.userProfileMenu {
  li {
    @include alignCenter();
    margin: 1rem 0;
  }

  li:hover {
    border-left: 2px solid $colorRed;
  }

  li > div > img {
    margin-top: 0.6rem;
    width: 20px;
    height: 20px;
  }
}

.userLogout {
  li {
    @include alignCenter();
    list-style: none;
  }

  li > div > img {
    width: 35px;
    height: 35px;
  }
}
table{
  tr,
  td{
    text-align: center;
    padding: 1.3rem;
  }

}

.downloadButton{
  width: 100px;
  height: 30px;
  border: 1px solid $colorGrey;
  background-color: $colorFullWhite;
}
.cardInfo{
  @include alignEvenly();
  width: 390px;

  div > div > img {
    width: 60px;
    height: 60px;
  }

  .card{
    display: flex;
  }

  .card > div:nth-of-type(2){
    padding-top: 1.3rem;
  }
}
